/* components/Button.css */
.btn {
  padding: 12px 30px;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.btn-primary {
  background-color: #388659;
  color: #ffffff;
}

.btn-primary:hover {
  background-color: #30774e;
  
}

.btn-secondary {
  background-color: #ffffff;
  color: #388659;
}

.btn-secondary:hover {
  background-color: #e9eeeb;
}